// Hero Area # 01

#home-1.hero-area {
    position: relative;
	z-index: 1;
}

#home-1 {

    .hero-area-banner {
        background-image: url(../img/hero-area/1.jpg);
        background-size: cover;
        background-position: center;
        background-color: #ddd;
        color: #fff;
        width: 100%;
        height: 600px;
        display: flex;
        align-items: end;
        justify-content: center;
        position: relative;
        z-index: 1;

        @media #{$xs} {
            background-position: top;
            height: 750px;
        }

        .hero-area-content {
            padding-bottom: 100px;
            @media #{$md} {
                padding-left: 60px;
                padding-bottom: 60px;
            }
            @media #{$xs} {
                padding-bottom: 60px;
            }
        }

        h1 {
            color: #fff;
            font-size: 70px;
            font-weight: 600;
            line-height: 70px;

            @media #{$lg} {
                font-size: 60px;
                line-height: 60px;
                margin: 40px 0 0;
            }

            @media #{$md} {
                font-size: 50px;
                line-height: 55px;
                margin: 40px 0 0;
            }

            @media #{$xs} {
                font-size: 35px;
                line-height: 40px;
            }

            @media #{$sm} {
                font-size: 50px;
                line-height: 60px;
            }
        }

        p {
            font-size: 18px;
            line-height: 28px;
            color: #fff;

            @media #{$md} {                
                margin-top: 50px;
            }

            @media #{$xs} {
                margin-top: 50px;
            }
        }

    }

    .service-info{
        padding-left: 0px;
        @media #{$md}{
            padding-right: 180px;
        }
        @media #{$xs}{
         
        }
        h4 {
            color: #fff;
        }
        i {
            font-size: 60px;
        }
    }

}


// Hero Area # 02

.hero-img-wrap img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

#home-2 .section-title h1 {
    @media #{$md}{
        font-size: 45px;
        line-height: 50px;
    }
}


// Hero Area # 03

#home-3.hero-area {
    position: relative;
	z-index: 1;
}

#home-3 {

    .hero-area-banner {
        background-image: url(../img/hero-area/3.jpg);
        background-size: cover;
        background-color: #ddd;
        color: #fff;
        width: 100%;
        height: 900px;
        display: flex;
        align-items: end;
        position: relative;
        z-index: 1;

        @media #{$xs}{
		height: 700px;
	}

        &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #171717;
        opacity: .2;
        z-index: -1;
    }

        @media #{$xs} {
            background-position: top;
        }

        .hero-area-content {
            padding-bottom: 250px;
            padding-left: 120px;
            @media #{$md}{
                padding-left: 60px;
            }
            @media #{$xs}{
                padding-left: 0;
                padding-bottom: 120px;
            }
        }

        h1 {
            color: #fff;
            font-size: 80px;
            font-weight: 600;
            line-height: 80px;

            @media #{$lg} {
                font-size: 70px;
                line-height: 80px;
                margin: 40px 0 0;
            }

            @media #{$md} {
                font-size: 60px;
                line-height: 70px;
                margin: 40px 0 0;
            }

            @media #{$xs} {
                font-size: 35px;
                line-height: 40px;
            }

            @media #{$sm} {
                font-size: 50px;
                line-height: 60px;
            }
        }

        p {
            font-size: 18px;
            line-height: 28px;
            color: #fff;

            @media #{$md} {                
                margin-top: 50px;
            }

            @media #{$xs} {
                margin-top: 50px;
            }
        }

    }

    .service-info{
        padding-left: 0px;        
        h4 {
            color: #fff;
        }
        i {
            font-size: 60px;
        }
    }

}

// Hero Area # 04


#home-4.hero-area {
    position: relative;
	z-index: 1;   
}

#home-4 {

    .hero-area-banner {
        background-image: url(../img/hero-area/4-2.jpg);
        background-size: cover;
        background-color: #ddd;
        color: #fff;
        width: 100%;
        height: 600px;
        display: flex;
        align-items: end;
        justify-content: center;
        position: relative;
        z-index: 1;

        &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #171717;
        opacity: .2;
        z-index: -1;
    }

        @media #{$xs} {
            background-position: top;
        }

        .hero-area-content {
            padding-bottom: 150px;
        }

        h1 {
            color: #fff;
            font-size: 120px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 120px;
            letter-spacing: 4px;

            @media #{$md} {
                font-size: 80px;
                line-height: 90px;
                margin: 40px 0 0;
                letter-spacing: 2px;
            }

            @media #{$xs} {
                font-size: 40px;
                line-height: 50px;
                letter-spacing: 2px;
            }

            @media #{$sm} {
                font-size: 50px;
                line-height: 60px;
            }
        }

        p {
            font-size: 14px;
            line-height: 26px;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;

            @media #{$md} {                
                margin-top: 50px;
            }

            @media #{$xs} {
                margin-top: 50px;
            }
        }

    }


}

#home-4 .section-title span {
    color: #DB7C37;
    padding-left: 150px;
    @media #{$xs}{
        padding-left: 0;
    }
}

/* Hero Area # 05 */

#home-5 {
    .single-slide-item {
        background-image: url(../img/slider/slide-1.png);
        background-size: cover;
        background-position: center;
        background-color: #ddd;
        color: #fff;
        width: 100%;
        height: 800px;
        position: relative;
        z-index: 1;   
         @media #{$xs} {
            
            height: 600px;
        }     
    }

    .hero-area-content {
        padding-left: 80px;
        @media #{$md}{
            padding-left: 0;
            padding-top: 60px;
        }
        @media #{$xs}{
            padding-left: 0;
            padding-top: 60px;
        }
    }
  
}

// Slider Nav Style 


.homepage-slides .owl-nav button.owl-prev,
.homepage-slides .owl-nav button.owl-next {
	width: 50px;
	height: 50px;
	border: 2px solid;
	font-size: 20px;
	font-weight: 100;
	line-height: 16px;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -25px;
	color: $theme_color;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.homepage-slides .owl-nav button.owl-next {
	left: auto;
	right: 15px;
}

.homepage-slides:hover .owl-nav button.owl-prev,
.homepage-slides:hover .owl-nav button.owl-next {
	visibility: visible;
	opacity: .3;
}

.homepage-slides .owl-nav button.owl-prev:hover,
.homepage-slides .owl-nav button.owl-next:hover {
	background: $theme_color;
	color: #fff;
	border-color: $theme_color;
	opacity: 1;
}