.instragram-inner {
    display: flex;
}

.instragram-item a {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.instragram-item a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url(../img/instragram/instagram.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.instragram-item a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

.instragram-item a:hover::before{
    opacity: 1;
    visibility: visible;
}

.instragram-item a:hover::after{
    opacity: .6;
    visibility: visible;
}


