.mission-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    
}

.author-info h6 {
    opacity: .5;
}

.author-info h5 {
    margin-bottom: 5px;
}

.mission-section .section-title h2{
    @media #{$xs}{
        font-size: 30px;
    }
}