/* portfolio # 01 */

#portfolio-1{
    
.portfolio-section {
    position: relative;
}

.single-portfolio-wrapper {
	position: relative;
    overflow: hidden;
	@media #{$xs} {
        margin-bottom: 60px;
    }
}

.portfolio-bg{
    transition: all .5s ease;
    transform: scale(1);
}

.portfolio-bg img {
    height: 500px;
    width: 776px !important;
    object-fit: cover;
}

.portfolio-details {
	position: absolute;
	bottom: 20px;
	left: 20px;
	transform: translateX(-101%);
	transition: all ease 0.3s;
	opacity: 0;
	visibility: hidden;
	span {
		background: #fff;
		padding: 10px;
		border-radius: 0;
		font-size: 16px;
		color: $theme_color;
	}
	
	h5 {
		background: #fff;
		display: block;
		font-weight: 500;
		padding: 10px 20px;
		margin: 10px 0;    
	}
}

.single-portfolio-wrapper:hover .portfolio-details{
	transform: translateX(0);
	visibility: visible;
	opacity: 1;
	transition: all .7s ease;
    transition-delay: 50ms;
    transition-duration: .5s;
}

.single-portfolio-wrapper:hover .portfolio-bg{
	transform: scale(1.07,1.07);
}

.portfolio-slider .owl-nav button.owl-prev,
.portfolio-slider .owl-nav button.owl-next {
	width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 100;
    line-height: 16px;
    position: absolute;
    right: 60px;
    top: -45px;
    margin-top: -25px;
    color: #ddd;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
	@media #{$md}{
		width: 40px;
		height: 40px;
		font-size: 16px;
	}
	i{
		color: #333;
	}
}

.portfolio-slider .owl-nav button.owl-next {
	left: auto;
	right: 0;
}

.portfolio-slider .owl-nav button.owl-prev:hover,
.portfolio-slider .owl-nav button.owl-next:hover {
	background: #171717;
	border-color: #171717;
	i{
		color: #fff;
	}
}

}

.portfolio-slider .owl-stage-outer {
    overflow: inherit;
}

.portfolio-slider:after {
  position: absolute;
  content: "";
  width: 500%;
  top: 0;
  left: -500%;
  background: #F5F4EC;
  opacity: 0.7;
  z-index: 1;
}

#portfolio-1 p.pl-90.mb-0 {
    @media #{$md}{
		padding-left: 30px;
	}
    @media #{$xs}{
		padding-left: 0;
	}
	
}

#portfolio-1.pb-90 {
	@media #{$xs}{
		padding-bottom: 0;
	}
    
}


// Portfolio # 02 for home-03 

.single-portfolio-wrap{
	position: relative;
	z-index: 1;
	@media #{$xs}{
		width: 100%;
	}
	img{
		width: 100%;
		object-fit: cover;
	}
	&.big img {
		height: 700px;		
		@media #{$xs} {
			height: 350px;
		}
	}
	&.small img {
		height: 350px;
	}
	&.wide{
		width: 100%;
	}

	&.wide img {
		height: 350px;
	}
}

.single-portfolio-wrap .details {
	background: #141414;
	width: 100%;
	height: 100%;
	padding: 50px 35px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  }
  
  
  .single-portfolio-wrap .info {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	margin-top: -20px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
  }
  

  .single-portfolio-wrap h5 {
	font-size: 22px;
	font-weight: 500;
	color: $white;
	margin-bottom: 10px;
  }

  .single-portfolio-wrap h6 {
	font-size: 16px;
	color:#777;
  }
  
  .single-portfolio-wrap:hover .details {
	opacity: 1;
	visibility: visible;
	top: 0;
  }
  
  .single-portfolio-wrap:hover .details .info {
	opacity: 1;
	margin-top: 0;
  }


// Portfolio # 03 for home-05

#portfolio-3{

	.portfolio-section {
		position: relative;
		z-index: 1;
	}
	
	.single-portfolio-wrapper:hover .portfolio-details {
		transition: all 0.4s;
		transform: translateY(0);
		bottom: 40px;
		opacity: 1;
	}
	
	.single-portfolio-wrapper{
		position: relative;
		overflow: hidden;
	}
	
	.single-portfolio-wrapper:hover .portfolio-bg {
		transform: scale(1.07);
	}
	
	.portfolio-bg {
		transition: all 0.5s ease;
		transform: scale(1);
	}
	
	.portfolio-details {
		position: absolute;
		transition: all 0.4s;
		transform: translateY(100%);
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 20px 0 0;
		width: 60%;
		max-width: 100%;
		background-color: #fff;
		opacity: 0;
		text-align: center;
		h4{
			font-size: 18px;
			font-weight: 500;
			@media #{$lg}{
				font-size: 20px;
			}
			@media #{$md}{
				font-size: 16px;
			}
		}
		@media #{$xs}{
			width: 85%;
			max-width: 85%;
		}
	
		p{
			color: $theme-color;
		}
	}
	
	.portfolio-content {
		margin: 15px 0 20px;
	}
	
	.portfolio-section .mt-40 {
		@media #{$xs}{
			margin-top: 0;
		}
	}

}

.portfolio-img-slider .owl-stage-outer {
    overflow: inherit;
}

.portfolio-img-slider:after {
  position: absolute;
  content: "";
  width: 300%;
  top: 0;
  left: -500%;
  background: #F5F4EC;
  opacity: 0.7;
  z-index: 1;
}

#portfolio-3 .mt-40 {
	@media #{$xs}{
		margin-top: 0;
	}
    
}

// Portfolio # 04

#portfolio-4 .single-portfolio-item {
	align-content: center;
	height: 600px;
	@media #{$md}{
		height: 500px;
	}
	@media #{$xs}{
		height: 400px;
	}
	img{
		@media #{$xs}{
		height: 300px;
	}
	}
}

#portfolio-4.portfolio-section.section-padding {
	@media #{$md}{
		padding-bottom: 30px;	
	}   
	@media #{$xs}{
		padding-bottom: 30px;	
	}   
}

.portfolio-img-slider{
	margin-top: 60px;
	@media #{$md}{
		margin-top: 30px;
	}
	@media #{$xs}{
		margin-top: 30px;
	}
}

#portfolio-4 .portfolio-desc.pl-90 {
    @media #{$md}{
		padding-left: 0;
    	margin-top: 30px;
	}
    @media #{$xs}{
		padding-left: 0;
    	margin-top: 30px;
	}
}

// Project # Standard 

#project-standard{
	.single-project-wrapper{
		margin-bottom: 60px;
	}
	
	.project-title {
		position: relative;
		padding-left: 30px;
	
		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			background: $theme_color;
		}
		h3 {
			font-size: 24px;
			margin-top: 20px;
		}
		
		h6 {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 500;
			letter-spacing: 3px;
			color: #8b8b8b;
			margin-top: 5px;
		}
		
		a {
			font-size: 17px;
			margin-top: 6px;
		}
	}
	
	
	.project-slider-2 .owl-stage-outer {
		overflow: inherit;
	}
	
	.project-slider-2:before,
	.project-slider-2:after {
	  position: absolute;
	  content: "";
	  width: 500%;
	  height: 100%;
	  top: 0;
	  left: -500%;
	  background: #fff;
	  opacity: .7;
	  z-index: 1;
	}
	
	.project-slider-2:after {
	  left: auto;
	  right: -500%;
	}
	
}


// Project List 

.project-list-content {
  padding-left: 60px;
  max-width: calc(100% - 80px);
@media #{$md, $xs}{
  padding-left: 0;
  margin-top: 30px;
  max-width: calc(100% - 40px);
}
}

.project-list-content:hover .read_more_link .link_text {
    opacity: 1;
    text-indent: 0;
    margin-right: 6px;
    visibility: visible;
    transition: visibility .4s ease, margin-right .3s ease-out, text-indent .4s ease-out, opacity .4s ease
}

// Portfolio Metro 

#portfolio-metro{

.single-portfolio-wrap{
	&.small img {
		height: 350px;
		padding-bottom: 25px;
	}
	&.small .details {
    height: 326px;
	}
}

	

}

// Project # Grid 

#project-grid{
	.single-project-item {		
		position: relative;
		z-index: 1;
		overflow: hidden;	
		@media #{$md, $xs}{
			margin-bottom: 30px;
		}

		.project-bg{
			height: 305px;
		}


		.project-info{
			position: absolute;
			transition: all .4s;
			transform: translateY(100%);
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			padding: 20px 25px 15px;
			width: 70%;
			max-width: 70%;
			background-color: #fff;
			opacity: 0;
			text-align: center;
			h5 {
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 3px;
			}
			p{
				margin: 0;
				color: $theme_color;
			}
		}

		&:hover {			
			.project-info{
				transition: all .4s;
				transform: translateY(0);
				bottom: 40px;
				opacity: 1
			}
		}

		
	}
	
}

.project-grid .single-project-item{
	margin-bottom: 30px;
}


// Project - Masonry

.project-menu {
  @media #{$xs} {        
      text-align: center;
  }
}

.project-menu li a {
  cursor: pointer;
  display: block;    
  color: #808996;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  padding: 8px 15px;
  transition: all 0.5s;
  margin-top: 5px;
}
.project-menu a.active,
.project-menu a:hover {
  color: #fff;
  background: $theme_color;
}
.project-item {
  position: relative;
  padding: 15px;
}
.project-box {
  overflow: hidden;
  position: relative;
}
.project-box .project-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
}
.project-box .project-img:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.project-box .project-img>img {
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  border-radius: 0;
}
.project-box .project-detail {
  opacity: 0;
  color: #FFF;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  overflow: hidden;
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  text-align: center;
}
.project-box .project-detail h4 {
  color: #fff;
  font-size: 20px;
}

.project-box .project-detail p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
}

.project-box .project-detail p i {
  color: #fff;
  font-size: 20px;
}
.project-box:hover .project-detail {
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;
}
.project-box:hover .project-img:after {
  background: rgb(23 23 23 / 87%);
}
.project-box:hover .project-img>img {
  transform: scale(1.05);
}

.white-popup-block{
  background: #FFF;
  padding: 30px 15px 15px 15px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

button.mfp-arrow {
  display: none;
}

.mfp-counter {
  display: none;
}


.project-item.minus-top {
  margin-top: -150px;
  @media #{$md} {        
      margin-top: -100px;
  }
  @media #{$xs} {        
      margin-top: 0;
  }
}

.project-item p {
  margin: 0;
  margin-top: 15px;
}


// Project Slider 

.project-slider .owl-nav button.owl-prev,
.project-slider .owl-nav button.owl-next {
  border: 1px solid #ddd;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.project-slider .owl-nav button.owl-prev:hover,
.project-slider .owl-nav button.owl-next:hover {
  background: $theme_color;
  border-color: $theme_color;
  color: #fff;

}

.project-slider .owl-nav {
  position: absolute;
  bottom: -40px;
  left: 0;
  display: flex;
}

.project-slider .owl-nav i {
  font-size: 20px;
}

// Project Details 

.project-details-content h3 {
  font-size: 35px;
  font-weight: 500;
  margin: 30px 0;
}

.project-details-content p {
  margin-bottom: 30px;
}

.project-details-inner {
  @media #{$xs}{
  margin-top: 60px;
}
}

.single-details-item h5 {
  font-weight: 500;
}

.single-details-item span {
  font-size: 18px;
  color: #777;
}

.project-details-info h3 {
  font-size: 35px;
}

.project-details-info p {
  font-size: 20px;
  margin: 30px 0;
}

.project-details-info {
  position: sticky;
  top: 150px;
  transition: top .3s ease;
}

.project-details-wrap{
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  font-size: 18px;
  font-weight: 500;
}

.nav-links span i {
  font-size: 22px;
}

.nav-previous i{
  margin-right: 20px;
}
.nav-next i{
  margin-left: 20px;
}
}

.project-desc h3 {
  font-size: 35px;
  margin: 20px 0;
}